<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DBConnStr" connectionString="Data Source=LOCALHOST\SQL2K12EXP;initial Catalog=ASITHMSDB;User ID=asitdev;Password=asitdev1234"/>-->
   <!--<add name="DBConnStr" connectionString="Data Source=ASIT-03\SQL2K14ENT;initial Catalog=ASITHMS_ANUPTDB;User ID=sa;Password=1234"/>-->
    
    <!--<add name="DBConnStr" connectionString="Data Source=ASIT-03\SQL2K14ENT;initial Catalog=ASITHMS_DIGILABDB;User ID=sa;Password=1234" />-->
    
    <!--<add name="DBConnStr" connectionString="Data Source=ASIT-03\SQL2K14ENT;initial Catalog=ASITHMS_HSDMODB;User ID=sa;Password=1234" />-->
    
    <!--<add name="DBConnStr" connectionString="Data Source=ASIT-03\SQL2K14ENT;initial Catalog=ASITHMS_NCPODB;User ID=sa;Password=1234" />-->
    <!--<add name="DBConnStr" connectionString="Data Source=ASITDEV2\SQL2K12EXP;initial Catalog=ASITHMS_DIGILABDB;User ID=sa;Password=1234" />-->
    <!--<add name="DBConnStr" connectionString="Data Source=ASIT-03\SQL2K12ENT;initial Catalog=ASITHMS_RPGCLDB;User ID=sa;Password=1234" />-->
    <!--<add name="DBConnStr" connectionString="Data Source=(localdb)\v11.0;initial Catalog=ASITHMSDBTT;Integrated Security=True"/>-->

  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--Development & Testing Purpose-->
    <!--<add key="VersionType" value="6501.1" />-->

    <!--Demo for Real Estate & Construction Purpose--> 
    <!--ASIT Housing Estate Ltd. (Demo)-->
    <!--<add key="VersionType" value="6505.0" />-->
    
    <!--Demo for Hospital & Diagnostic Center Purpose-->
    <!--ASIT Specialized Hospital Ltd. (Demo)-->
    <!--<add key="VersionType" value="6511.0" />-->
    <add key="VersionType" value="6521.0"/>
    
    <!-- ================================== -->
    <!-- CLIENTS LIVE DATABASE IN OPERATION -->
    <!-- ================================== -->
            
    <!--Digilab Medical Services Ltd.-->
    <!--<add key="VersionType" value="6521.0"/>-->

    <!--Digilab Hospital Limited Tangail-->
    <!--<add key="VersionType" value="6525.0"/>-->

    <!--Dream Phama-->
    <!--<add key="VersionType" value="6526.0"/>-->
    
    <!--Kibria Memorial Diabetic Centre & Lab Ltd.-->
    <!--<add key="VersionType" value="6527.0"/>-->

       
    <!--New Medi Fair Diagnostic Centre-->
    <!--<add key="VersionType" value="6528.0"/>-->
  
    <!--Foods Club-->
    <!--<add key="VersionType" value="6531.0" />-->

    <!--Delicious Foods-->
    <!--<add key="VersionType" value="6535.0" />-->

    <!--Anup Traders-->
    <!--<add key="VersionType" value="6551.0" />-->

    <!--Sarmano Engineering-->
    <!--<add key="VersionType" value="6553.0" />-->

    <!--Onushilon Products-->
    <!--<add key="VersionType" value="6554.0" />-->

    <!--Tec Bangla Marine & Engineering Ltd. -->
    <!--<add key="VersionType" value="6555.0" />-->
    
    <!--M S Enterprise -->
    <!--<add key="VersionType" value="6556.0" />-->

    <!--Mahmud Engineering -->
    <!--<add key="VersionType" value="6557.0" />-->

    <!--Al Amin Traders - Ongoing -->
    <!--<add key="VersionType" value="6558.0" />-->

    <!--Apurba Traders - Ongoing -->
    <!--<add key="VersionType" value="6559.0" />-->   
   
    <!--Azam Securities Ltd.-->
    <!--<add key="VersionType" value="6561.0" />-->
    
    <!--MQ & Associates-->
    <!--<add key="VersionType" value="6562.0" />-->

    <!--AL Tasmeem Garments-->
    <!--<add key="VersionType" value="6563.0" />-->

    <!--DewDrops Community-->
    <!--<add key="VersionType" value="6564.0" />-->

    <!--Pirthe_Property_Care-->
    <!--<add key="VersionType" value="6565.0" />-->
    
    <!--M/S. Ashique Enterprise-->
    <!--<add key="VersionType" value="6566.0" />-->
    
    <!--NCC Adv. Land Acc -->
    <!--<add key="VersionType" value="6571.0" />-->
    
    <!--NCC Adv. Land Park -->
    <!--<add key="VersionType" value="6572.0" />-->
    
    
    <!-- MIIL - Market Innovation International Ltd. -->
    <!--<add key="VersionType" value="6575.0" />-->
    
    <!--MIIL - FAHIM AD -->
    <!--<add key="VersionType" value="6576.0" />-->
    
    <!--MIIL - Option -->
    <!--<add key="VersionType" value="6577.0" />-->

    <!--DBS Label & Accessories Ltd. -->
    <!--<add key="VersionType" value="6578.0" />-->

    <!--Fare Builders Ltd.-->
    <!--<add key="VersionType" value="6581.0" />-->
 
    <!--Combined Real Estate and Developers Ltd.-->
    <!--<add key="VersionType" value="6582.0" />-->
    
    <!--BD Home Makers Ltd.-->
    <!--<add key="VersionType" value="6583.0" />-->

    <!--S. S. Homes Limited-->
    <!--<add key="VersionType" value="6584.0" />-->

    <!--B. H. Builders Ltd.-->
    <!--<add key="VersionType" value="6585.0" />-->
    
    <!--Excel Real Estate-->
    <!--<add key="VersionType" value="6586.0" />-->

    <!--Md. Osman Ali Construction -->
    <!--<add key="VersionType" value="6587.0" />-->

    <!--Excel Robin Bricks -->
    <!--<add key="VersionType" value="6588.0" />-->
  
    <!--Super Shelter Ltd. -->
    <!--<add key="VersionType" value="6589.0" />-->
        
    <!--BCC-WB Project Management System-->
    <!--<add key="VersionType" value="6591.0" />-->
    
    <!--RPGCL (A Concern of Petro Bangla)-->
    <!--<add key="VersionType" value="6592.0" />-->

    <add key="COMPortConfig" value="COM3.19200.Even.8.1"/>
    <add key="AppLocalImagePath" value="C:\Temps\HmsImages\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IASITHmsService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
       
          <!--For SSL Client-->
          <!--<security mode="Transport"> 
				    <transport clientCredentialType="None" proxyCredentialType="None" realm=""/> 
				    <message clientCredentialType="Certificate" algorithmSuite="Default" />
  			  </security>-->          
                 
          <!--For Non SSL-->          
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3709/ASITHmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService" contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService"/>
  
      <!--<endpoint address="http://100.100.10.82/ASITHmsWCF/ASITHmsService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
            contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://103.240.249.70/ASITHmsWCF/ASITHmsService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
            contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

       <!--<endpoint address="http://FoodClubPC/ASITHmsWCF/ASITHmsService.svc"
             binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
             contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://59.152.97.179/ASITHmsBccWCF/ASITHmsService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
              contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://ASIT-03/ASITHmsWCF/ASITHmsService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
              contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://ASITDEV2/ASITHmsWCF/ASITHmsService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
              contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://asithmswcf.realprice.biz/ASITHmsService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
               contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->
       
      <!--<endpoint address="https://asithmswcfs.realprice.biz/ASITHmsService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
               contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->

      <!--<endpoint address="http://cloudasit-001-site7.itempurl.com/ASITHmsService.svc"  
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
                contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->
        
      <!--<endpoint address="http://asithmsdemowcf.cloud.asit.com.bd/ASITHmsService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASITHmsService"
               contract="ASITHmsService1.IASITHmsService" name="BasicHttpBinding_IASITHmsService" />-->
   
  
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
